*{
    margin: 0;
    padding: 0;
    /* espaçamento da lateral sumiu*/
}
body{
    max-width: 100%;
    margin: auto;
}
#header-top{   /*cabeçalho*/
    padding: 16px; /*espaçamento entre conteúdo e borda de cima*/
    text-align: center; /* cabeçalho fica no centro*/
    background-color:#d652d0;
}
#nav-top{
    display: flex;
    justify-content: center; /* links no centro, abaixo do cabeçalho*/
    flex-direction: column; /*links na vertical*/
    background-color: rgb(100, 139, 223);
    width:100%;
}
ul{
    list-style: none;
}
#nav-top a{
    padding: 1rem 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(8, 8, 8);
}
#nav-top div{ /*usuário*/
    display: block;
    justify-content: center;
    width: 100%;
}
#nav-top a:hover{ /* cor das letras e fundo dos links*/
    background-color: rgb(179, 85, 233);
    color:white;
}
.main-section{  /* artigos Fase1, 2 e 3*/
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-home{   /* artigos Fase1, 2 e 3*/
    color: black;
    width: 100%;
}
.aside{ /*foto começar do zero*/
    width: 100%;
}
article{ /* é um elemento e não precisa de . ou # */
    margin: 0.2rem 0px; /* espaçamento entre o artigo superior e inferior*/
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
article h2{
    margin: 0.1rem 1rem; /*paragrafo das Fase1, 2 e 3 */
}
article h6{
    margin: 0.1rem 1rem; /* data abaixo da Fase */
}
article p{
    margin: 0.1rem 1rem; /* artigo */
    text-align: justify; /*enquadramento do artigo nas margens*/
}
.card{ /*   */
    margin: 0.1rem;
    background-color: rgb(241, 230, 209);
    display: flex;
    flex-direction: column;
}
.card a{
    padding: 1rem 0px;
    display: block;
    text-align: center;
    text-decoration: none;  /* link sem underline */
    color: rgb(8, 8, 8);
    background-color: teal;
}
.card a:hover{
    background-color: white;
    color: rgb(162, 0, 255);
}
figure{  /*imagem 'do começar' dentro da cor */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 1rem;
}
.logo{  /* Cappacita */
    background-color: brown;
    width: 4rem;
    align-self: center;
}
figure figcaption{
    align-self: center; /* palavra Cappacita Dev 2021 */
    margin: 0.5rem 0px;
}
.dozero{
    width: 30rem;
    max-width: 100%;
    align-self: center;
}
footer{
    padding: 1rem 0px;
    background-color: rgb(181, 214, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer a{
    padding: 1rem 0px;
    display: block;
    text-align: center; /* links e Úteis */
    text-decoration: none;
    color: black;
    background-color: rgb(207, 192, 165);
}
footer a:hover{
    background-color: white;
    color: rgb(150, 49, 190);
}
/* 
# é o seletor de um id
. é o seletor do class
*/

/*estilização do Formulário abaixo */
.section-form{
    background-color: yellowgreen;
}
fieldset{  /* espaçamento da linha dos Dados Pessoais e Questionáro*/
    width: 100%;
    margin: auto;
    padding: 1rem;
}
input{  /*dados Pessoais*/
    display: block; /*Nome, sobrenome e email um abaixo do outro */
    width: 100%;
    padding: 1rem 0px;
    margin-bottom: 1rem;
}
select{ /*Questionario*/
    display: block; 
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}
textarea{ /*Questionario*/
    display: block; 
    width: 100%;
    padding: 1rem 0px;
    margin-bottom: 1rem;
}
.preferencia{
    display: inline-block; 
    width: 5%;  /* sms, email e ligação, fica um ao lado do outro */
}

@media screen and ( min-width: 576px) { /* para tablete */
    
}

@media screen and ( min-width: 768px) { /* para desktop */
    
    #nav-top{   
        flex-direction: row; /* row é linha */
    }
    #nav-top a{
        padding: 1rem 1rem;
        display: flex;
    }
    #nav-top div{  /*item usuário*/
        display: flex;
        justify-content: flex-end;
        width: 5%;
        margin-right: 1rem;
    }
    #nav-top ul{  /* parte azul do Home, ALTU e contato */
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        margin-left: 1rem;
    }
    .main-section{  /* artigos Fase1, 2 e 3*/
        flex-direction: row;
    }
    .main-home{   /* artigos Fase1, 2 e 3*/
        width: 70%;
    }
    .aside{ /*foto começar do zero*/
        width: 30%;
        margin: 0.2rem 0.1rem;
    }
    article{ /* é um elemento e não precisa de . ou # */
        margin: 0.2rem 0.1rem; /* espaçamento entre o artigo superior e inferior*/
    }
    footer{
        flex-direction: row;
        justify-content: space-around; /*links e uteis um do lado do outro*/

    }
    footer a{
        text-decoration: underline;
        color: rgb(124, 240, 95);
        background-color: rgb(226, 160, 36);
    }
    footer a:hover{
        color: rgb(189, 135, 211);
    }
    /*estilização do Formulário abaixo */
    
    fieldset{
        width:50%;
    }
    
}

@media screen and ( min-width: 992px) { 
    
}

@media screen and ( min-width: 1200px) { 
    
}
